@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Unbounded:wght@200;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #9999ff;
  background-image: radial-gradient(
      at 81% 25%,
      hsla(338, 92%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 3% 16%, hsla(4, 88%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 76% 51%, hsla(269, 80%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 56% 62%, hsla(20, 85%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 13%, hsla(215, 92%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 18%, hsla(148, 87%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 37%, hsla(343, 88%, 66%, 1) 0px, transparent 50%);
}

@layer components {
  #root {
    @apply font-sans bg-slate-100/50 text-slate-800;
  }
  .layout {
    @apply max-w-screen-md w-screen h-screen m-auto xs:max-w-screen-xs sm:max-w-screen-md tb:max-w-screen-tb lg:max-w-screen-lg;
  }
  .header {
    @apply w-[100%] h-[4rem] flex flex-row items-center justify-around;
  }

  .header div {
    @apply h-[100%] flex items-center flex-1;
  }

  .header-left {
    @apply justify-start;
  }
  .header-center {
    @apply justify-center;
  }
  .header-links {
    @apply flex flex-row flex-1 gap-8 justify-end;
  }

  .header-links li {
    @apply font-semibold uppercase text-sm;
  }

  .hero {
    @apply flex w-[100%] h-[calc(100%-4rem)] gap-8;
  }

  .hero-text {
    @apply flex flex-col items-start justify-center flex-[1] gap-4 relative;
  }

  .hero .btn {
    @apply flex items-center justify-center w-[50%] h-12 bg-gradient-to-r from-violet-700 to-rose-700 text-slate-100 rounded-full hover:opacity-75 transition ease-out;
  }

  .hero-links {
    @apply flex gap-8 absolute bottom-4;
  }

  .hero-slider {
    @apply flex flex-[2] flex-col justify-around relative;
  }

  .hero-slider__items {
    @apply grid grid-cols-2 sm:grid-cols-3 gap-4 w-[100%];
  }

  .hero-slider__item {
    @apply flex flex-col justify-end relative;
  }

  .hero-slider__item picture {
    @apply h-[100%] relative;
  }
  .hero-slider__item img {
    @apply w-[100%] h-[100%] object-cover rounded-md;
  }

  .hero-slider__text {
    @apply absolute bottom-3 left-2 text-white z-[2];
  }

  .hero-slider__footer {
    @apply flex items-center justify-between uppercase;
  }
  .hero-slider__footer-right {
    @apply flex gap-2;
  }

  .hero-slider__item::after {
    @apply rounded-md;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.5)
    );
    z-index: 1;
  }
}
